<div class="container">
   <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      <div class="col-md-3 mb-2 mb-md-0">
         <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">          
            <img src="/img/ZANDD LOGO.jpg" alt="" width="50" height="32">
         </a>
      </div>
      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">        
         <li><a href="/milesPerGallon" class="nav-link px-2" data-i18n-key="heading-toxicity-test"></a></li>                       
      </ul>
      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">        
         <select id="languageSelector" class="form-select" aria-label="Language selection">
            <option value="en" data-i18n-key="heading-english"></option>
            <option value="nl" data-i18n-key="heading-dutch"></option>
            <option value="fr" data-i18n-key="heading-french"></option>
            <option value="si" data-i18n-key="heading-slovinian" ></option>
            <option value="pl" data-i18n-key="heading-polish" ></option>            
            <option value="es" data-i18n-key="heading-hungarian" ></option>

         </select>           
      </ul>
   </header>
 </div>