<html lang="en">
<%- include('layouts/header'); -%>
   <body style="background-color: #FEFBE4;">   
   <%- include('layouts/heading'); -%>
   <main>
      <div class="container marketing">                     
         <div class="row featurette">
            <div class="col-md-7">
               <h1 class="featurette-heading fw-normal lh-1" data-i18n-key="main-Item-1-title"></h1>
               <h2 class="featurette-heading fw-normal lh-1"><span class="text-body-secondary" data-i18n-key="main-Item-1-subtitle" ></span></h2>              
               <p class="lead">
               <span data-i18n-key="main-Item-1-line-1"><br></span>
               <a href="https://storage.googleapis.com/tfjs-tutorials/carsData.json" class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"><span data-i18n-key="main-Item-1-CRD"></span></a>
               <span data-i18n-key="main-Item-1-line-12"><br></span>
               <span data-i18n-key="main-Item-1-line-2"><br></span>
               <span data-i18n-key="main-Item-1-line-3"><br></span>
               <a href="https://codelabs.developers.google.com/codelabs/tfjs-training-regression/index.html#0" class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"><span data-i18n-key="main-Item-1-here"></span></a>
               <span data-i18n-key="main-Item-1-line-4"><br></span> <p><br></p>
               <span data-i18n-key="main-Item-1-line-5"><br></span>                
            </div>
            <div class="col-md-5">  
              <a href="/milesPerGallon">             
              <img src="/img/Dodge Charger 1969 .svg" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="400" height="400" alt="..." aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false">
              </a>
            </div>
         </div>         
      </div>                
   </main>
   <%- include('layouts/footer'); -%>
   </body>
</html>