<html lang="en">
<%- include('layouts/header'); -%>
   <body style="background-color: #FEFBE4;">   
   <%- include('layouts/heading'); -%>
   <main>
      <div class="container marketing">                     
         <div class="row featurette">
            <div class="col-md-7">
            <h1 class="featurette-heading fw-normal lh-1" data-i18n-key="unknown-Item-1-title"></h1>
            <h2 class="featurette-heading fw-normal lh-1"><span class="text-body-secondary" data-i18n-key="unknown-Item-1-subtitle" ></span></h2>              
            <p class="lead">
               <span data-i18n-key="unknown-Item-1-line-1"><br></span>
            </div>
            <div class="col-md-5">  
               <a href="/">             
               <img src="/img/404.jpg" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="400" height="400" alt="..." aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false">
               </a>
            </div>
          </div>
          <hr class="featurette-divider">
          </div>          
       </div>
    </main>
    <%- include('layouts/footer'); -%>
   </body>
</html>